<div class="form-group">
    <%= f.label :oenologist_id %>
    <%= f.collection_select :oenologist_id, @oenologists, :id, :name %>
</div>

<div class="form-group">
    <%= f.label :score %>
    <%= f.number_field :score %>
</div>